{% extends "base.html" %}
{% block content %}
    <div style="margin: 10px 10px">
    <h1 class="page-header">Tent Status</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Capacity</th>
                <th>Occupants</th>
                <th>Last Updated On</th>
            </tr>
            </thead>
            <tbody>
            {% for s in shelters %}
            <tr>
                <td>{{ s.shelter_id }}</td>
                <td>{{ s.capacity }}</td>
                <td>{{ s.occupants }}</td>
                <td>{{ s.last_updated }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
